# WEATHER ANALYZER

In [2]:
import requests
import pandas as pd
import numpy as np

In [12]:
import json

In [1]:
# The function to call if we want to get input from user

"""def get_city():
    while True:
        city = input("Enter city name: ").strip()
        #Check if it's non-empty and only contains letters/spaces
        if city and city.replace(" ", "").isalpha():
            return city.title()  # Capitalize properly
        else:
            print("Invalid city name. Please enter a name using only letters and spaces.") """

'def get_city():\n    while True:\n        city = input("Enter city name: ").strip()\n        #Check if it\'s non-empty and only contains letters/spaces\n        if city and city.replace(" ", "").isalpha():\n            return city.title()  # Capitalize properly\n        else:\n            print("Invalid city name. Please enter a name using only letters and spaces.") '

In [3]:
city = "London" #We can call get_city to get city from the user after running above cell

In [4]:
API_KEY = "cf325cd195a148dd42688625d6e8809a"

In [69]:
url = f"https://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_KEY}&units=metric"

The API returns the 5-day forecast of the city given to the variable with all quantities in metric units

In [70]:
response = requests.get(url).json()

After checking the output json the whole forecast is retrieved by the list key

In [71]:
forecast = response["list"]

In [76]:
print(forecast)

[{'dt': 1751306400, 'main': {'temp': 27.68, 'feels_like': 27.27, 'temp_min': 27.68, 'temp_max': 27.68, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1010, 'humidity': 38, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 0}, 'wind': {'speed': 4.32, 'deg': 214, 'gust': 5.05}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-06-30 18:00:00'}, {'dt': 1751317200, 'main': {'temp': 26.67, 'feels_like': 26.67, 'temp_min': 24.66, 'temp_max': 26.67, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1010, 'humidity': 41, 'temp_kf': 2.01}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 0}, 'wind': {'speed': 0.95, 'deg': 192, 'gust': 1.17}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-06-30 21:00:00'}, {'dt': 1751328000, 'main': {'temp': 24.33, 'feels_like': 24.1, 'temp_min': 22.66, 'temp_max': 24.33, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1011, 'humidity': 49, 'temp_kf': 1.67}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 1}, 'wind': {'speed': 1.62, 'deg': 240, 'gust': 2.83}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-01 00:00:00'}, {'dt': 1751338800, 'main': {'temp': 20.39, 'feels_like': 20.21, 'temp_min': 20.39, 'temp_max': 20.39, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1010, 'humidity': 66, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 8}, 'wind': {'speed': 1.75, 'deg': 308, 'gust': 3.85}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-01 03:00:00'}, {'dt': 1751349600, 'main': {'temp': 23.84, 'feels_like': 24.03, 'temp_min': 23.84, 'temp_max': 23.84, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1010, 'humidity': 67, 'temp_kf': 0}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'clouds': {'all': 11}, 'wind': {'speed': 3.24, 'deg': 350, 'gust': 5.12}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-01 06:00:00'}, {'dt': 1751360400, 'main': {'temp': 26.63, 'feels_like': 26.63, 'temp_min': 26.63, 'temp_max': 26.63, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1011, 'humidity': 52, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 97}, 'wind': {'speed': 2.27, 'deg': 7, 'gust': 2.45}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-01 09:00:00'}, {'dt': 1751371200, 'main': {'temp': 31.55, 'feels_like': 30.91, 'temp_min': 31.55, 'temp_max': 31.55, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1010, 'humidity': 35, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 96}, 'wind': {'speed': 2.02, 'deg': 296, 'gust': 2.82}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-01 12:00:00'}, {'dt': 1751382000, 'main': {'temp': 33.26, 'feels_like': 31.91, 'temp_min': 33.26, 'temp_max': 33.26, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 1009, 'humidity': 27, 'temp_kf': 0}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'clouds': {'all': 61}, 'wind': {'speed': 3.71, 'deg': 276, 'gust': 5.22}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-01 15:00:00'}, {'dt': 1751392800, 'main': {'temp': 31.97, 'feels_like': 30.67, 'temp_min': 31.97, 'temp_max': 31.97, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 1009, 'humidity': 29, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 'clouds': {'all': 44}, 'wind': {'speed': 5.01, 'deg': 268, 'gust': 4.15}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-01 18:00:00'}, {'dt': 1751403600, 'main': {'temp': 23.9, 'feels_like': 23.89, 'temp_min': 23.9, 'temp_max': 23.9, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 1012, 'humidity': 59, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 8}, 'wind': {'speed': 2.96, 'deg': 57, 'gust': 3.83}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-01 21:00:00'}, {'dt': 1751414400, 'main': {'temp': 21.63, 'feels_like': 21.62, 'temp_min': 21.63, 'temp_max': 21.63, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 1012, 'humidity': 68, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 9}, 'wind': {'speed': 2.16, 'deg': 54, 'gust': 2.39}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-02 00:00:00'}, {'dt': 1751425200, 'main': {'temp': 18.37, 'feels_like': 18.3, 'temp_min': 18.37, 'temp_max': 18.37, 'pressure': 1017, 'sea_level': 1017, 'grnd_level': 1013, 'humidity': 78, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'clouds': {'all': 29}, 'wind': {'speed': 2.7, 'deg': 36, 'gust': 3.29}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-02 03:00:00'}, {'dt': 1751436000, 'main': {'temp': 17.53, 'feels_like': 17.43, 'temp_min': 17.53, 'temp_max': 17.53, 'pressure': 1018, 'sea_level': 1018, 'grnd_level': 1014, 'humidity': 80, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 'clouds': {'all': 47}, 'wind': {'speed': 2.81, 'deg': 18, 'gust': 3.4}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-02 06:00:00'}, {'dt': 1751446800, 'main': {'temp': 20.11, 'feels_like': 19.98, 'temp_min': 20.11, 'temp_max': 20.11, 'pressure': 1018, 'sea_level': 1018, 'grnd_level': 1014, 'humidity': 69, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 2.55, 'deg': 3, 'gust': 2.73}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-02 09:00:00'}, {'dt': 1751457600, 'main': {'temp': 23.14, 'feels_like': 22.92, 'temp_min': 23.14, 'temp_max': 23.14, 'pressure': 1018, 'sea_level': 1018, 'grnd_level': 1014, 'humidity': 54, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.59, 'deg': 27, 'gust': 1.86}, 'visibility': 10000, 'pop': 0.38, 'rain': {'3h': 0.3}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-02 12:00:00'}, {'dt': 1751468400, 'main': {'temp': 23.35, 'feels_like': 22.97, 'temp_min': 23.35, 'temp_max': 23.35, 'pressure': 1019, 'sea_level': 1019, 'grnd_level': 1015, 'humidity': 47, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 5.08, 'deg': 321, 'gust': 5.16}, 'visibility': 10000, 'pop': 0.22, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-02 15:00:00'}, {'dt': 1751479200, 'main': {'temp': 22, 'feels_like': 21.4, 'temp_min': 22, 'temp_max': 22, 'pressure': 1021, 'sea_level': 1021, 'grnd_level': 1016, 'humidity': 44, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 5.65, 'deg': 341, 'gust': 6.04}, 'visibility': 10000, 'pop': 0.05, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-02 18:00:00'}, {'dt': 1751490000, 'main': {'temp': 19.26, 'feels_like': 18.73, 'temp_min': 19.26, 'temp_max': 19.26, 'pressure': 1023, 'sea_level': 1023, 'grnd_level': 1019, 'humidity': 57, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 0}, 'wind': {'speed': 2.99, 'deg': 12, 'gust': 6.92}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-02 21:00:00'}, {'dt': 1751500800, 'main': {'temp': 16.51, 'feels_like': 16.07, 'temp_min': 16.51, 'temp_max': 16.51, 'pressure': 1026, 'sea_level': 1026, 'grnd_level': 1022, 'humidity': 71, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 0}, 'wind': {'speed': 2.43, 'deg': 20, 'gust': 4.3}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-03 00:00:00'}, {'dt': 1751511600, 'main': {'temp': 14.7, 'feels_like': 14.21, 'temp_min': 14.7, 'temp_max': 14.7, 'pressure': 1026, 'sea_level': 1026, 'grnd_level': 1022, 'humidity': 76, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 0}, 'wind': {'speed': 2.11, 'deg': 5, 'gust': 3.94}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-03 03:00:00'}, {'dt': 1751522400, 'main': {'temp': 15.39, 'feels_like': 14.76, 'temp_min': 15.39, 'temp_max': 15.39, 'pressure': 1028, 'sea_level': 1028, 'grnd_level': 1023, 'humidity': 68, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 0}, 'wind': {'speed': 1.97, 'deg': 11, 'gust': 2.74}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-03 06:00:00'}, {'dt': 1751533200, 'main': {'temp': 20.42, 'feels_like': 19.69, 'temp_min': 20.42, 'temp_max': 20.42, 'pressure': 1028, 'sea_level': 1028, 'grnd_level': 1024, 'humidity': 45, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 0}, 'wind': {'speed': 1.85, 'deg': 12, 'gust': 1.91}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-03 09:00:00'}, {'dt': 1751544000, 'main': {'temp': 24.7, 'feels_like': 23.93, 'temp_min': 24.7, 'temp_max': 24.7, 'pressure': 1028, 'sea_level': 1028, 'grnd_level': 1023, 'humidity': 27, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 0}, 'wind': {'speed': 2.01, 'deg': 342, 'gust': 1.19}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-03 12:00:00'}, {'dt': 1751554800, 'main': {'temp': 26.38, 'feels_like': 26.38, 'temp_min': 26.38, 'temp_max': 26.38, 'pressure': 1026, 'sea_level': 1026, 'grnd_level': 1022, 'humidity': 20, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 3}, 'wind': {'speed': 2.86, 'deg': 319, 'gust': 2.35}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-03 15:00:00'}, {'dt': 1751565600, 'main': {'temp': 25.23, 'feels_like': 24.44, 'temp_min': 25.23, 'temp_max': 25.23, 'pressure': 1026, 'sea_level': 1026, 'grnd_level': 1021, 'humidity': 24, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 7}, 'wind': {'speed': 0.52, 'deg': 306, 'gust': 1.47}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-03 18:00:00'}, {'dt': 1751576400, 'main': {'temp': 20.36, 'feels_like': 19.57, 'temp_min': 20.36, 'temp_max': 20.36, 'pressure': 1027, 'sea_level': 1027, 'grnd_level': 1022, 'humidity': 43, 'temp_kf': 0}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'clouds': {'all': 51}, 'wind': {'speed': 2.17, 'deg': 201, 'gust': 4.29}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-03 21:00:00'}, {'dt': 1751587200, 'main': {'temp': 17.36, 'feels_like': 16.51, 'temp_min': 17.36, 'temp_max': 17.36, 'pressure': 1027, 'sea_level': 1027, 'grnd_level': 1023, 'humidity': 52, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'clouds': {'all': 27}, 'wind': {'speed': 2.52, 'deg': 195, 'gust': 4.99}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-04 00:00:00'}, {'dt': 1751598000, 'main': {'temp': 16.06, 'feels_like': 15.16, 'temp_min': 16.06, 'temp_max': 16.06, 'pressure': 1027, 'sea_level': 1027, 'grnd_level': 1022, 'humidity': 55, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'clouds': {'all': 38}, 'wind': {'speed': 1.06, 'deg': 206, 'gust': 1.55}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-04 03:00:00'}, {'dt': 1751608800, 'main': {'temp': 17.19, 'feels_like': 16.3, 'temp_min': 17.19, 'temp_max': 17.19, 'pressure': 1027, 'sea_level': 1027, 'grnd_level': 1022, 'humidity': 51, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 'clouds': {'all': 26}, 'wind': {'speed': 1.62, 'deg': 215, 'gust': 2.44}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-04 06:00:00'}, {'dt': 1751619600, 'main': {'temp': 22.43, 'feels_like': 21.62, 'temp_min': 22.43, 'temp_max': 22.43, 'pressure': 1025, 'sea_level': 1025, 'grnd_level': 1021, 'humidity': 34, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 9}, 'wind': {'speed': 2.51, 'deg': 235, 'gust': 3.33}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-04 09:00:00'}, {'dt': 1751630400, 'main': {'temp': 25.75, 'feels_like': 25.01, 'temp_min': 25.75, 'temp_max': 25.75, 'pressure': 1023, 'sea_level': 1023, 'grnd_level': 1019, 'humidity': 24, 'temp_kf': 0}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'clouds': {'all': 55}, 'wind': {'speed': 2.98, 'deg': 262, 'gust': 4.25}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-04 12:00:00'}, {'dt': 1751641200, 'main': {'temp': 27.76, 'feels_like': 26.53, 'temp_min': 27.76, 'temp_max': 27.76, 'pressure': 1020, 'sea_level': 1020, 'grnd_level': 1016, 'humidity': 18, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 4.19, 'deg': 260, 'gust': 4.9}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-04 15:00:00'}, {'dt': 1751652000, 'main': {'temp': 24.46, 'feels_like': 23.56, 'temp_min': 24.46, 'temp_max': 24.46, 'pressure': 1019, 'sea_level': 1019, 'grnd_level': 1015, 'humidity': 23, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 5.1, 'deg': 288, 'gust': 6.13}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-04 18:00:00'}, {'dt': 1751662800, 'main': {'temp': 20.15, 'feels_like': 19.19, 'temp_min': 20.15, 'temp_max': 20.15, 'pressure': 1019, 'sea_level': 1019, 'grnd_level': 1015, 'humidity': 37, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 95}, 'wind': {'speed': 4.11, 'deg': 278, 'gust': 8.02}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-04 21:00:00'}, {'dt': 1751673600, 'main': {'temp': 17.08, 'feels_like': 16.18, 'temp_min': 17.08, 'temp_max': 17.08, 'pressure': 1018, 'sea_level': 1018, 'grnd_level': 1014, 'humidity': 51, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 97}, 'wind': {'speed': 4.02, 'deg': 264, 'gust': 8.83}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-05 00:00:00'}, {'dt': 1751684400, 'main': {'temp': 16.56, 'feels_like': 15.79, 'temp_min': 16.56, 'temp_max': 16.56, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 1012, 'humidity': 58, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 100}, 'wind': {'speed': 3.92, 'deg': 249, 'gust': 10.38}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-07-05 03:00:00'}, {'dt': 1751695200, 'main': {'temp': 16.67, 'feels_like': 16.06, 'temp_min': 16.67, 'temp_max': 16.67, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1011, 'humidity': 64, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 3.98, 'deg': 238, 'gust': 10.2}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-05 06:00:00'}, {'dt': 1751706000, 'main': {'temp': 18.27, 'feels_like': 17.9, 'temp_min': 18.27, 'temp_max': 18.27, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 1009, 'humidity': 67, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 97}, 'wind': {'speed': 4.58, 'deg': 236, 'gust': 8.53}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-05 09:00:00'}, {'dt': 1751716800, 'main': {'temp': 20.78, 'feels_like': 20.58, 'temp_min': 20.78, 'temp_max': 20.78, 'pressure': 1012, 'sea_level': 1012, 'grnd_level': 1007, 'humidity': 64, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 98}, 'wind': {'speed': 4.95, 'deg': 238, 'gust': 8.11}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-05 12:00:00'}, {'dt': 1751727600, 'main': {'temp': 22.08, 'feels_like': 21.99, 'temp_min': 22.08, 'temp_max': 22.08, 'pressure': 1009, 'sea_level': 1009, 'grnd_level': 1005, 'humidity': 63, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 100}, 'wind': {'speed': 5.19, 'deg': 236, 'gust': 8.21}, 'visibility': 10000, 'pop': 1, 'rain': {'3h': 0.6}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-07-05 15:00:00'}]

We normalize all the nested lists and disctionaries and explode them into respiective columns

In [77]:
df = pd.json_normalize(forecast, sep='_')

In [78]:
weather_df = pd.json_normalize(df['weather'].explode())
df = df.drop(columns=['weather']).reset_index(drop=True)
df = pd.concat([df, weather_df], axis=1)

In [79]:
df.head(5)

,dt,visibility,pop,dt_txt,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_sea_level,...,clouds_all,wind_speed,wind_deg,wind_gust,sys_pod,rain_3h,id,main,description,icon
0,1751306400,10000,0.0,2025-06-30 18:00:00,27.68,27.27,27.68,27.68,1014,1014,...,0,4.32,214,5.05,d,NaN,800,Clear,clear sky,01d
1,1751317200,10000,0.0,2025-06-30 21:00:00,26.67,26.67,24.66,26.67,1014,1014,...,0,0.95,192,1.17,n,NaN,800,Clear,clear sky,01n
2,1751328000,10000,0.0,2025-07-01 00:00:00,24.33,24.10,22.66,24.33,1015,1015,...,1,1.62,240,2.83,n,NaN,800,Clear,clear sky,01n
3,1751338800,10000,0.0,2025-07-01 03:00:00,20.39,20.21,20.39,20.39,1014,1014,...,8,1.75,308,3.85,n,NaN,800,Clear,clear sky,01n
4,1751349600,10000,0.0,2025-07-01 06:00:00,23.84,24.03,23.84,23.84,1015,1015,...,11,3.24,350,5.12,d,NaN,801,Clouds,few clouds,02d

In [80]:
df = df.drop(columns=['dt', 'clouds_all', 'visibility','pop','wind_deg','wind_gust','sys_pod','id','description','icon','rain_3h','main_temp_kf'])

In [81]:
df.head(5)

,dt_txt,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_sea_level,main_grnd_level,main_humidity,wind_speed,main
0,2025-06-30 18:00:00,27.68,27.27,27.68,27.68,1014,1014,1010,38,4.32,Clear
1,2025-06-30 21:00:00,26.67,26.67,24.66,26.67,1014,1014,1010,41,0.95,Clear
2,2025-07-01 00:00:00,24.33,24.10,22.66,24.33,1015,1015,1011,49,1.62,Clear
3,2025-07-01 03:00:00,20.39,20.21,20.39,20.39,1014,1014,1010,66,1.75,Clear
4,2025-07-01 06:00:00,23.84,24.03,23.84,23.84,1015,1015,1010,67,3.24,Clouds

In [82]:
df = df.rename(columns={
    'dt_txt': 'datetime',
    'main_temp': 'temp_C',
    'main_feels_like': 'feels_like_C',
    'main_temp_min': 'temp_min_C',
    'main_temp_max': 'temp_max_C',
    'main_pressure': 'pressure_hPa',
    'main_sea_level': 'sea_level_hPa',
    'main_grnd_level': 'ground_level_hPa',
    'main_humidity': 'humidity_percent',
    'main_temp_kf': 'temp_kf',
    'wind_speed': 'wind_speed_ms',
    'main': 'weather'
})

df.head(5)

,datetime,temp_C,feels_like_C,temp_min_C,temp_max_C,pressure_hPa,sea_level_hPa,ground_level_hPa,humidity_percent,wind_speed_ms,weather
0,2025-06-30 18:00:00,27.68,27.27,27.68,27.68,1014,1014,1010,38,4.32,Clear
1,2025-06-30 21:00:00,26.67,26.67,24.66,26.67,1014,1014,1010,41,0.95,Clear
2,2025-07-01 00:00:00,24.33,24.10,22.66,24.33,1015,1015,1011,49,1.62,Clear
3,2025-07-01 03:00:00,20.39,20.21,20.39,20.39,1014,1014,1010,66,1.75,Clear
4,2025-07-01 06:00:00,23.84,24.03,23.84,23.84,1015,1015,1010,67,3.24,Clouds

In [83]:
df['datetime'] = pd.to_datetime(df['datetime'])

After dropping all unimportant columns, renaming columns and ensuring consistent data types the data is ready for numpy analysis

In [84]:
df.head(5)

,datetime,temp_C,feels_like_C,temp_min_C,temp_max_C,pressure_hPa,sea_level_hPa,ground_level_hPa,humidity_percent,wind_speed_ms,weather
0,2025-06-30 18:00:00,27.68,27.27,27.68,27.68,1014,1014,1010,38,4.32,Clear
1,2025-06-30 21:00:00,26.67,26.67,24.66,26.67,1014,1014,1010,41,0.95,Clear
2,2025-07-01 00:00:00,24.33,24.10,22.66,24.33,1015,1015,1011,49,1.62,Clear
3,2025-07-01 03:00:00,20.39,20.21,20.39,20.39,1014,1014,1010,66,1.75,Clear
4,2025-07-01 06:00:00,23.84,24.03,23.84,23.84,1015,1015,1010,67,3.24,Clouds

Columns are converted into numpy arrays and then basic numpy functions are used.

In [85]:
temps = df['temp_C'].to_numpy()
winds = df['wind_speed_ms'].to_numpy()
humidity = df['humidity_percent'].to_numpy()

In [86]:
mean_temp = np.mean(temps)
max_temp = np.max(temps)
min_temp = np.min(temps)
std_temp = np.std(temps)

mean_wind = np.mean(winds)
max_wind = np.max(winds)

mean_humidity = np.mean(humidity)

In [87]:
print(f"Mean Temp: {mean_temp:.2f} °C")
print(f"Max Temp: {max_temp:.2f} °C")
print(f"Min Temp: {min_temp:.2f} °C")
print(f"Temp Std Dev: {std_temp:.2f} °C")
print(f"Mean Wind Speed: {mean_wind:.2f} m/s")
print(f"Max Wind Speed: {max_wind:.2f} m/s")
print(f"Mean Humidity: {mean_humidity:.2f} %")

Mean Temp: 22.05 °C
Max Temp: 33.26 °C
Min Temp: 14.70 °C
Temp Std Dev: 4.63 °C
Mean Wind Speed: 2.98 m/s
Max Wind Speed: 5.65 m/s
Mean Humidity: 49.88 %